section{
    padding: 20px 30px !important;
}

#footer {

    grid-template-columns: auto;
}

.banner-content h4 {

    font-size: .9rem;

}

.banner-content h1 {

    font-size: 1.3rem;
    margin: 15px 0;
    font-weight: 600;
}

.banner-content button {
    padding: 8px 13px;
}
#hero {

    background-position: top left 50%;
    height: 70vh;

}
