/* reset code :start here */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    text-transform: capitalize;

}

html {
    scroll-behavior: smooth;
}

.hero-btn {
    padding: 15px 30px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* reset code :ends here */



/* header code start here */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    position: sticky;
    top: 0;
    z-index: 10000;

}

.navbar li {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    

}

.navbar li:not(:last-of-type) {
    margin-right: 25px;

}

.navbar li a {
    color: #1a1a1a;
    transition: all .1s ease;
    position: relative;
    font-size: 1.2rem;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;

}

.navbar li a::after {
    content: '';
    position: absolute;
    width: 0;
    top: 100%;
    left: 0;
    height: 2px;
    background: #088178;
    transition: all .3s;
}

.navbar li a:hover::after,
.navbar li a.active::after {
    width: 50%;
}
.menu-icon{
    display: none;
}
/* header code ends here */




/* hero code starts here  */
#hero {
    padding: 30px 70px;
    background-image: url(../img/hero4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -53px right 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero .content h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#hero .content h2 {
    font-size: 3rem;
    line-height: 50px;
    font-weight: 500;
}

#hero .content h2:not(:first-of-type) {
    color: #088178;
}

#hero .content span {
    color: #4745459f;
    display: inline-block;
    margin: 20px 0;
}

#hero .content #btn {
    padding: 10px 40px;
    color: #088178;
    font-weight: 500;
    font-size: 1.1rem;
    background: url(../img/button.png);
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* hero code ends here  */



/* feature code starts here */
#feature {
    padding: 50px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
}

#feature .feature-content {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cce7d0;
    text-align: center;
    box-shadow: 0 10px 10px #0000000a;
    transition: all .3s ease;
}

#feature .feature-content:hover {
    box-shadow: 0 10px 10px #00000017;
}

#feature .feature-content img {
    width: 130px;
}

#feature .feature-content h3 {
    background: #fddde4;
    color: #088178;
    margin: 20px 0;
    display: inline-block;
    padding: 7px;
    font-weight: 500;
    cursor: context-menu;
    border-radius: 3px;
}

#feature .feature-content:nth-child(2) h3 {
    background: #cdebbc;
}

#feature .feature-content:nth-child(3) h3 {
    background: #d1e8f2;
}

#feature .feature-content:nth-child(4) h3 {
    background: #cdd4f8;
}

#feature .feature-content:nth-child(5) h3 {
    background: #f6dbf6;
}

#feature .feature-content:nth-child(6) h3 {
    background: #fff2e5;
}

/* feature code ends here */




/* featured product code starts here */
#feature-products {
    padding: 50px 70px;
}

.product-tital {
    text-align: center;

}

.product-tital h1 {
    font-size: 2.5rem;
    color: #222;
}

.product-tital span {
    color: #4745459f;
    display: inline-block;
    margin: 10px 0;

}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    margin-top: 50px;
}

.product {
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px #0000001c;
    border: 1px solid #cce7d0;
    position: relative;
    transition: all .3s;
}

.product:hover {
    box-shadow: 0 0 25px #00000034;
}

.product img {
    width: 100%;
    border-radius: 20px;
}

.product span {
    margin: 5px 0;
    color: #4745459f;
    display: inline-block;
}

.product h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.rating i {
    font-size: .7rem;
    color: rgb(238, 205, 16);
    margin: 5px 0;
}

.product h2 {
    font-size: 1.4rem;
    margin: 5px 0;
    color: #088178;
    font-weight: 500;
}

.product a {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.product a .product-cart-icon {
    padding: 10px;
    background: #1ea39a41;
    border-radius: 50%;
    color: #088178;


}

/* featured product code ends here */




/* banner code starts here */
#banner {
    width: 100%;
    height: 40vh;
    background: linear-gradient(#00000018, #00000018), url(../img/b2.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.banner-content h4 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}

.banner-content h1 {
    color: white;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 600;
}

.banner-content h1 span {
    color: rgb(168, 9, 9);
}

.banner-content button:hover {
    background: #088178;
    color: #fff;
    transition: all .2s;
}

/* banner code ends here */



/* new .products code starts here */
#newproducts {
    padding: 50px 70px;
}

/* new .products code ends here */




/* sm-banner code starts here */
#sm-banner {
    padding: 50px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

.sm-banner {
    background: url(../img/b17.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    height: 40vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sm-banner.two {
    background: url(../img/b10.jpg) no-repeat;


}

.sm-banner h3 {
    text-transform: lowercase;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #fff;
}

.sm-banner h2 {
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;

    color: #fff;
}

.sm-banner p {
    color: #fff;
    font-weight: 400;
}

.sm-banner button {
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
}

.sm-banner:hover button {
    background: #088178;
    transition: all .2s;
    border: 1px solid #088178;
}

/* sm-banner code ends here */



/* banner3 code starts here */
#banner3 {
    padding: 50px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 20px;


}

.banner3.one {
    background: url(../img/b7.jpg) no-repeat;
    
}

.banner3.two {}

.banner3.three {
    background: url(../img/b18.jpg);
    background-repeat: no-repeat;
    background-position: top right 30%;

}

.banner3 {
    background: url(../img/b4.jpg) no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.banner3 h1 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;


}

.banner3 h4 {
    color: rgb(168, 9, 9);
    margin-top: 20px;
}

/* banner3 code ends here */




/* newsletter code ends here */
#newsletter {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 62, 121, 1) 35%, rgba(0, 176, 255, 1) 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;



}

.newsletter-text h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;




}

.newsletter-text p {
    color: #fffafa6b;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
}

.newsletter-text p a {
    color: rgb(224, 168, 24);
    font-weight: 500;

}

.newsletter-text p a:hover {
    text-decoration: underline;
}

.newsletter-input form input {
    border: none;
    outline: none;
    width: 300px;
    padding: 15px;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.newsletter-input form button {
    background: #088178;
    padding: 15px;
    margin-left: -6px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

/* newsletter code ends here */



/* footer code starts here */
#footer {
    padding: 50px 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer-col h4 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;

}

.footer-col span,
a {
    font-size: 15px;
    margin: 5px 0;
    display: inline-block;
    color: #222;
}

.footer-col a:hover {
    text-decoration: underline;
}

.app-icons {
    display: flex;
    margin-top: 10px;
}

.apple,
.google-play {
    width: 200px;
    margin-right: 10px;
    border: 1px solid #088178;
    border-radius: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;


}

.apple .text {
    margin-left: 5px;
}

.apple i {
    font-size: 2rem;

}

.google-play i {
    font-size: 1.3rem;
}

.apple h3,
.google-play h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.google-play h3 {
    margin-left: 5px;
}

.footer-col.last>span:last-of-type {
    margin: 20px 0;
    display: inline-block;
}

.payment-getways-icons img {
    width: 50px;
    cursor: pointer;

}

/* footer code ends here */



/* shop banner code starts here */
#shop-banner{
    background: url(../img/b1.jpg) no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#shop-banner h1,p{
    color: #fff;
}
#shop-banner h1{
    font-size: 3rem;
    text-transform: lowercase;
}
#shop-banner p{
    font-size: .9rem;
    margin-top: 10px;
}
/* shop banner code ends here */



/* pageination code starts here */
#pageinations{
    padding: 30px 70px;
    text-align: center;
}
.pageination a{
    background: #088178;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 2px ;

    
    
}

/* pageination code ends here */



/* single product code starts here */
#single-product{
    padding: 30px 70px;
    display: grid;
    grid-template-columns: 40% 60%;

}
.single-pro-img{

}
.single-pro-img .lg-img{
    width: 100%;
}
.single-pro-sm-img{
   
    display: flex;
    justify-content: space-between;

}
.single-pro-sm-img img.sm-img{
    width: 24%;
    cursor: pointer;
}
.single-pro-details{
    padding: 20px 40px;
}
.single-pro-details h4{
    font-size: 1rem;
    font-weight: 500;
}
.single-pro-details h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0;
}
.single-pro-details h1{
    font-size: 1.7rem;
}
.single-pro-details select.size , input.quality{
    padding: 5px;
    border: 1px solid #ddd;
    color: #353131;
    border-radius: 2px;
}
.single-pro-details select.size{
    margin:10px 0;
}
.single-pro-details button{
    background: #088178;
    color: #fff;
    padding: 7px;
    font-size: .8rem;
    border-radius: 2px;
    margin-left: 5px;
}
.details-text h2{
    margin-top: 40px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.details-text h2::after{
    content: "";
    width: 20px;
    height: 1px;
    background: #929090;
    position: absolute;
    top: 50%;
    right: -25%;
    
}
.details-text p{
    font-size: 1rem;
    color: #353131;
    line-height: 20px;
}
/* single product code ends here */